<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />


    @RenderSection("styles", required: false)
    @RenderSection("HeadIncludes", required: false)
    <link href="~/Content/indexStyle.css" rel="stylesheet" />
   
</head>
<body>
   <style>
       #addnew {
           width: 150px;
           margin: 0 15px
       }
       .itemimageHolder {
           width: 100%;
           height: 150px
       }
       @@media screen and (max-width: 750px) {
           .logosectionalone{
               padding:5px 10px
           }
           #addnew {
               margin: 0px
           }
           .catitem{
               width:31%
           }
           .itemimageHolder {
               height: unset
           }
       }
       
   </style>
    <div class="logosectionalone">
        <img src="~/Images/logo_text.png" />
        <p id="addnew" style="" class="btn btn-success">@Resources.res.logosection4</p>

        <ul>


            @{
                if (Session["token"] != null)
                {
                    <li id="logout">@Resources.res.logosection0</li>

                }
                else
                {
                    <li id="login">@Resources.res.logosection1</li>
                }
            }
            <li>|</li>
            <li>@Resources.res.logosection2</li>
            <li>|</li>
            <li id="support">@Resources.res.logosection3</li>

            <li>|</li>
            <li id="home">@Resources.res.logosection5</li>





        </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Session["lang"].ToString().ToUpper()
            </button>
            <div class="dropdown-menu lanParent" aria-labelledby="dropdownMenuButton">
                <div class="row langHolder"><a class="dropdown-item" href="#">en <img src="~/Images/en.png" /></a></div>
                <div class="row langHolder"><a class="dropdown-item" href="#">fa <img src="~/Images/fa.png" /></a></div>
                <div class="row langHolder"><a class="dropdown-item" href="#">de <img src="~/Images/de.png" /></a></div>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    <script>
        $("#login").click(function () {
            window.location.href = "/Home/login"
        })
        $("#logout").click(function () {
            window.location.href = "/Home/logout"
        })
        $("#addnew").click(function () {

            window.location.href = "/Home/createItem"
        })
        $("#home").click(function () {
            window.location.href = "/Home/index"
        })

         if ('@Session["lang"]' == 'fa') {
            $("body").get(0).style.setProperty("--align", "right");
             $("body").get(0).style.setProperty("--direction", "rtl");
             $("body").get(0).style.setProperty("--font", "IRANSans ");

        }
        else {
            $("body").get(0).style.setProperty("--align", "left");
             $("body").get(0).style.setProperty("--direction", "ltr");
             $("body").get(0).style.setProperty("--font", "helvica");
        }
    </script>
    <script>
        $(".langHolder").click(function () {
            let id = $(this).find('a').text();
            window.location.href = "/Home/ChangeLanguage?lang=" + id;
        })
    </script>
    <script>

        $("#addnew").click(function () {
            window.location.href = "/Home/createItem"
        })
        $("#login").click(function () {
            window.location.href = "/Home/login"
        })
    </script>
    <script>
        if ('@Session["lang"]' == 'fa') {

            $("body").get(0).style.setProperty("--align", "right");
            $("body").get(0).style.setProperty("--direction", "rtl");
            $("body").get(0).style.setProperty("--font", "IRANSans");

        }
        else {

            $("body").get(0).style.setProperty("--align", "left");
            $("body").get(0).style.setProperty("--direction", "ltr");
            $("body").get(0).style.setProperty("--font", "Myriad");


        }

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K63XYBVDJY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-K63XYBVDJY');
    </script>
</body>
</html>
