@model  neshanak.viewModelPost.ListOfProductOrder




<style>
    .Itemholderr {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 25px;
        cursor: pointer;
    }

        .Itemholderr .itemtitle {
            font-weight: 700;
        }

        .Itemholderr .itemvalue {
            margin-right: 10px;
        }

        .Itemholderr .Item {
            padding: 10px;
            text-align: right;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }

            .Itemholderr .Item p {
                display: inline-block;
                text-align: right;
                direction: rtl
            }
</style>
<div id="addItemToOrderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row" style="margin:0">
                    <div class="col-lg-12" style="padding:25px">
                        <p>انتخاب محصول</p>
                        <div style="display:flex">
                            <div style="width:100%; display:flex">
                                <input style="width:100%; display:inline-block" id="addItemToOrderInput" class="form-control" />
                                <input value="1" id="quntityInput" style="width:20%; display:inline-block" class="form-control" />
                                <input id="index-holder" hidden />
                                <i id="refreshList" style="font-size:22px ; padding:5px" class="fa fa-refresh"></i>
                            </div>

                            <div id="addItemToOrderButton" style="display:inline-block" class="btn  btn-default">تایید</div>
                        </div>
                    </div>

                </div>




            </div>

        </div>

    </div>
</div>
<div id="deleteItemFromOrderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div style="display:none" id="selectedIDForDelete"></div>
                <div class="row" style="margin:0">
                    <div class="col-lg-12" style="padding:25px">
                        <p>آیا از حذف مورد اطمینان دارید؟</p>

                    </div>

                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirmDelete">تایید</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div style="overflow-x:auto;padding:10px">
        <div class="panel panel-default">
            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                <form method="post" id="getPDF" action="/Admin/createUserReport">
                    <input name="data" hidden />
                    <input name="id" hidden />
                    <input value="user" name="type" hidden />
                    <input hidden name="orderID" value="@Model.myProducts.First().orderID"/>
                    <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i> شرح سفارش    <i id="print" style="cursor:pointer; float:left" class="fa fa-print"></i>  <i id="addItemToOrderIcon" style="cursor:pointer; float:left; margin-left:20px" class="fa fa-plus"></i></h3>

                </form>

                <script>
                    $("#print").click(function () {

                        var obj = @Html.Raw(@Json.Encode(Model.myProducts));
                        $("input[name=data]").val(JSON.stringify(obj));
                        $("input[name=id]").val('@Model.myProducts.First().id');
                        $("#getPDF").submit();
                        $("#loading").fadeIn();
                        setInterval(function () { $("#loading").fadeOut(); }, 3000);



                    });
                </script>
            </div>
            <div class="panel-body">
                <div id="morris-area-chart">
                    @{
                        int w = Request.Browser.ScreenPixelsWidth;
                        int h = Request.Browser.ScreenPixelsHeight;
                        if (Request.Browser.IsMobileDevice || (w < 720 && h > 720))
                        {
                            if (Model.myProducts != null)
                            {
                                foreach (var item in Model.myProducts)
                                {

                                    int i = Model.myProducts.IndexOf(item) + 1;
                                    string image = "/images/panelimages/" + item.image;

                                    <div class="Itemholderr" id="@item.orderID">

                                        <div class="Item">
                                            <p class="itemtitle">ردیف :</p>
                                            <p class="itemvalue">@i</p>

                                        </div>
                                        <div class="Item">
                                            <p class="itemtitle">نام کالا : </p>
                                            <p class="itemvalue">@item.title</p>

                                        </div>
                                        <div class="Item">
                                            <p class="itemtitle">قیمت :</p>
                                            <p class="itemvalue">@item.price</p>

                                        </div>
                                        <div class="Item">
                                            <p class="itemtitle">تعداد :</p>
                                            <p class="itemvalue">@item.nums</p>

                                        </div>
                                        <div class="Item" style="text-align:center">
                                            <img src=@image style="max-width:100px" />
                                        </div>



                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div style="overflow:auto">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام کالا</th>
                                            <th>قیمت </th>
                                            <th>تعداد</th>
                                            <th></th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.myProducts != null)
                                            {
                                                foreach (var item in Model.myProducts)
                                                {
                                                    string image = "/images/panelimages/" + item.image;
                                                    int i = Model.myProducts.IndexOf(item) + 1;
                                                    string deleteid = item.id + "-" + item.orderID;
                                                    <tr style=" ">
                                                        <td>@i</td>
                                                        <td>@item.title</td>
                                                        <td>@item.price</td>
                                                        <td>@item.nums</td>
                                                        <td><img src=@image style="max-width:100px" /> </td>
                                                        <td><div id="@deleteid" class="btn btn-danger deletItem">حذف</div> </td>
                                                    </tr>
                                                }
                                            }
                                        }




                                    </tbody>
                                </table>

                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#addItemToOrderIcon").click(function () {
        $("#addItemToOrderModal").modal('toggle');
    })
    $(".deletItem").click(function () {
        $("#selectedIDForDelete").text($(this).attr('id'));
        $("#deleteItemFromOrderModal").modal('toggle');
    })

    $(".confirmDelete").click(function () {
        $("#deleteItemFromOrderModal").modal('toggle');
        var id = $("#selectedIDForDelete").text();
        var orderID = id.split('-')[1];
        $.ajax({
            url: "/admin/deletFromOrder",
            dataType: "html",
            data: {
                id: id,
            },
            success: function (data) {
                if (data == 200) {

                    toastr.options = {
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "fadeIn": 300,
                        "fadeOut": 1000,
                        "timeOut": 5000,
                        "extendedTimeOut": 1000
                    }

                    toastr.success('با موقیت ثبت شد');

                    $.ajax({
                        url: '/Admin/goGetOrderDetail',
                        dataType: 'html',
                        data: {
                            id: orderID,
                        },

                        success: function (data) {

                            $(".detailHolder").html(data);

                        }



                    });
                }
            }

        })
    })


</script>

<style>
    .addItemToOrderInput {
        width: 100% !important;
    }
</style>

<script>
    $("#refreshList").click(function () {

        $.ajax({
            url: '/Admin/getNewListProduct',
            dataType: 'html',
            data: {
                val: $("#addItemToOrderInput").val(),
            },
            success: function (data) {

                var products = {
                    data: JSON.parse(data),
                    getValue: "ID",

                    template: {
                        type: "custom",
                        method: function (value, item) {
                            return   item.title + " | <div style='background-color:#ddd; border-radius:50%; width:30px'></div> "
                        }
                    },

                };
                $("#addItemToOrderInput").easyAutocomplete(products);
                //$("#addItemToOrderInput").parent.css("width", "100%")
            }

        })
    })
    $("#addItemToOrderButton").click(function () {
        $("#addItemToOrderModal").modal('toggle');
        $.ajax({
            url: '/Admin/addNewTtemToOrder',
            dataType: 'html',
            data: {
                ID: $("#addItemToOrderInput").val(),
                quantity: $("#quntityInput").val(),
                OrderId: '@Model.myProducts.First().orderID'

            },
            success: function (data) {

                if (data == 200) {

                    toastr.options = {
                        "debug": false,
                        "positionClass": "toast-top-center",
                        "onclick": null,
                        "fadeIn": 300,
                        "fadeOut": 1000,
                        "timeOut": 5000,
                        "extendedTimeOut": 1000
                    }

                    toastr.success('با موقیت ثبت شد');

                    $.ajax({
                        url: '/Admin/goGetOrderDetail',
                        dataType: 'html',
                        data: {
                            id: '@Model.myProducts.First().orderID',
                        },

                        success: function (data) {

                            $(".detailHolder").html(data);

                        }



                    });
                }
            }

        })
    })

</script>