@model neshanak.viewModel.articlesListAdmin

<div class="row" style="padding:20px">
    <div style="overflow-x:auto;padding:10px">
        <div class="panel panel-default">
            <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i> آخرین نظرات تایید نشده  </h3>
            </div>
            <div class="panel-body">
                <div id="morris-area-chart">
                    <div style="overflow:auto">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        عنوان
                                    </th>
                                    <th>
                                        نویسنده
                                    </th>
                                    <th>
                                        دسته بندی
                                    </th>
                                    <th>
                                        تاریخ
                                    </th>

                                    <th>

                                    </th>

                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.articles != null)
                                    {
                                        foreach (var item in Model.articles)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.title)
                                                </td>
                                                <td style=" text-align:right">
                                                    @Html.DisplayFor(modelItem => item.writer)
                                                </td>

                                                <td style=" text-align:right">
                                                    @Html.DisplayFor(modelItem => item.catName)
                                                </td>
                                                <td style="text-align: right;">
                                                    @Html.DisplayFor(modelItem => item.date)

                                                </td>

                                                <td style="text-align: center;">

                                                    @{
                                                        var ID = @item.ID;
                                                        <a id=@ID class="btn btn-primary Pbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">ویرایش</a>

                                                    }

                                                </td>
                                                <td style="text-align: center;">

                                                    @{

                                                        <a id=@ID class="btn btn-primary Dbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>

                                                    }

                                                </td>
                                            </tr>
                                        }
                                    }
                                }



                            </tbody>
                        </table>
                        <script>

                                            $(".Dbutton").click(function () {

                                                var id = $(this).attr("id");

                                                $.ajax({
                                                    url: '/Admin/DeleteArticle',
                                                    dataType: 'html',
                                                    data: {
                                                        id: id,
                                                    },
                                                    success: function (data) {

                                                        var search = $("#searchinput").val();
                                                        var cat = $("#catListblog option:selected").val();
                                                        $.ajax({
                                                            url: '/Admin/getNewListArticle',
                                                            dataType: 'html',
                                                            data: {
                                                                search: search,
                                                                cat: cat
                                                            },
                                                            success: function (data) {

                                                                $("#Listholder").html(data);
                                                            },
                                                            error: function () {

                                                            }
                                                        });
                                                    },
                                                    error: function () {

                                                    }
                                                });
                                            })
                                            $(".Pbutton").click(function () {
                                                        var rowid = $(this).attr("id");
                                                       var articles = @Html.Raw(Json.Encode(Model.articles));
                                                     $("#detailholder").css("display", "inline-block");

                                                       $.each(articles, function (index, item) {
                                                           if (item.ID.toString() === rowid) {

                                                               $("#catListupdate option").each(function () {
                                                                   if ($(this).text() === item.catName) {
                                                                       $(this).attr("selected", "selected");
                                                                     }
                                                               })

                                                               var imagaddress = "/images/panelimages/" + item.image;
                                                               $("#titleupdate").val(item.title);
                                                               $("#descriptionupdate").val(item.content);
                                                               $("#articleImage").attr("src", imagaddress);
                                                               $("#IDupdate").val( item.ID);
                                                               $("#imageupdate").val(item.image);


                                                               var hashtags = item.hashtags;
                                                               var res = hashtags.split("-");
                                                               $('input[name=tagupdate]').tagsinput('removeAll');
                                                               $.each(res, function (i) {
                                                                   $('input[name=tagupdate]').tagsinput('add', res[i]);
                                                               });



                                                           }


                                                         });

                                                    })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
