@using BotDetect.Web.Mvc;
@using neshanak.Classes;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

    <script>

        $(document).ready(function () {


            document.getElementById("forgetclickevent").onclick = function () {


                $("#submitdiv").css("display", "none");
                $("#logindiv").css("display", "none");
                $("#forgetdiv").css("display", "block");

            }
            document.getElementById("gobacktologin").onclick = function () {


                $("#submitdiv").css("display", "block");
                $("#logindiv").css("display", "block");
                $("#forgetdiv").css("display", "none");

            }

            function isValidEmailAddress(emailAddress) {
                var pattern = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return pattern.test(emailAddress);
            };
            function isValidPhonenumber(phonenumber) {
                var pattern = /^09[0-9]{9}$/;
                return pattern.test(phonenumber);
            };
            function isNotNull(str) {
                if (str != "") {
                    return true;
                }
                else {
                    return false;
                }

            };



        })
    </script>

    <script>
        $(document).ready(function () {
            function isValidPhonenumber(phonenumber) {
                var pattern = /^09[0-9]{9}$/;
                return pattern.test(phonenumber);
            };
            function isNotNull(str) {
                var pattern = /^[A-Za-z0-9]{1,20}$/;
                return pattern.test(str);
            };
            $('#registertext').on('input', function (e) {

                var val = $(this).val();
                if (val.length > 0) {

                    if (!isValidPhonenumber(val)) {

                        $("#registererror").css("display", "block");
                        $("#registertext").css("color", "#ef5662");
                        $("#registertext").css("border", "1px solid #ef5662");
                        $("#mainlabla").addClass("error");


                    }
                    else {
                        $("#registererror").css("display", "none");
                        $("#registertext").css("color", "#777");
                        $("#registertext").css("border", "1px solid #c8c8c8");
                        $("#mainlabla").removeClass("error");
                    }

                }
                else {

                    $("#registererror").css("display", "none");
                    $("#registertext").css("color", "#777");
                    $("#registertext").css("border", "1px solid #c8c8c8");
                    $("#mainlabla").removeClass("error");
                }

            });
            $('#registerpassword').on('input', function (e) {

                var val = $(this).val();

                if ($(this).val().length === 0) {
                    $("#registerpassword-error").css("display", "block");
                    $("#registertext").css("color", "#ef5662");
                    $("#registerpassword").css("border", "1px solid #ef5662");
                    $("#mainlabla2").addClass("error");
                }
                else {
                    $("#registerpassword-error").css("display", "none");
                    $("#registertext").css("color", "#777");
                    $("#registerpassword").css("border", "1px solid #c8c8c8");
                    $("#mainlabla2").removeClass("error");
                }

            });

        })
    </script>
    <script>
        $("#verify").click(function () {

            alert("ssss");

            //
        })

    </script>
    <script src="~/Scripts/toastr.js"></script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    @Scripts.Render("~/Scripts/captcha.validate.js")

    <link href="~/Content/toastr.css" rel="stylesheet" />

}


    <div class="mainContainer">
        <div class="formholder">
            @using (Html.BeginForm("CustomerLoginWC", "CustomerLogIn", FormMethod.Post,
    new { @class = "c-form-account", enctype = "multipart/form-data", id = "registerForm" }))
            {


                @Html.AntiForgeryToken()
                <input type="hidden" name="rc" value="ZURUU1UzMVowaHFXNFFGZEdCb01pdz09"><input type="hidden" name="rd" value="a3RYVkxNOER0Q0IvaFpnQlVZMVNpdXV2bGxSSWJvRDEvbU8wN0VvdjFFakowc1NVQU9wdW9JOFF5QXhldEx0cg~~">

                <div >شماره موبایل</div>
                <div >
                    <div >
                        <label id="mainlabla" >
                            <input id="registertext"  type="text" name="registertext" placeholder="شماره موبایل خود را وارد نمایید" value="">

                           

                        </label>

                    </div>
                </div>
                <div >
                    کلمه عبور
                    <a href="/Home/forgetpass" style="float:left" class="btn-link-spoiler c-form-account__link c-form-account__link--inline">رمز عبور خود را فراموش کرده ام</a>
                </div>
                <div >
                    <div >
                        <label id="mainlabla2" >
                            <input id="registerpassword" type="password" name="registerpassword" placeholder="کلمه عبور خود را وارد نمایید">
                           
                        </label>
                    </div>
                </div>
                if (Convert.ToInt32(Session["LoginTime"]) > 2)
                {
                    <div >
                        <div >

                            @{MvcCaptcha registrationCaptcha = CaptchaHelper.GetRegistrationCaptcha(); }
                            @if (!registrationCaptcha.IsSolved)
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Captcha(registrationCaptcha)
                                    </div>
                                    <div class="col-lg-12" style="margin-top:10px">
                                        @Html.Label("کد را وارد نمایید", new { @class = "col-md-4 control-label",
                                         @for = "CaptchaCode" , style = "float:right; margin-top:15px"})

                                        <div class="col-md-6" style="float:right">
                                            @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>

                }

                <div id="verifyyy">
                    <div class="mybtn addtocart" style="">
                        
                        <p style=" padding:15px; border:1px solid #fff;color:white " class=" ">ورود   </p>

                    </div>

                </div>


              






            }
        </div>
        <div class="registerHoler">
            <div>
                <span>کاربر جدید هستید؟</span>
                <a href="/Home/Register">ثبت نام  </a>
            </div>
        </div>

        <div class="footerHolder">
            <ul class="">
                <li><a href="/Home/aboutus/" title="درباره @System.Configuration.ConfigurationManager.AppSettings["siteName"]">درباره @System.Configuration.ConfigurationManager.AppSettings["siteName"]</a></li>
                @* <li><a href="" target="_blank" title="فرصت‌های شغلی">فرصت‌های شغلی</a></li>*@
                <li><a href="/Home/contactus" title="تماس با ما">تماس با ما</a></li>
                @*<li><a href="" title="همکاری با سازمان‌ها">همکاری با سازمان‌ها</a></li>*@
            </ul>
        </div>

        <script>
        $("#verifyyy").click(function () {
            function isValidPhonenumber(phonenumber) {
                var pattern = /^09[0-9]{9}$/;
                return pattern.test(phonenumber);
            };
            var n = $("#accountAutoLogin:checked").length;
            var pass = $("#registerpassword").val();
            var val = $("#registertext").val();



            if (pass.length === 0) {
                $("#registerpassword-error").css("display", "block");
                $("#registertext").css("color", "#ef5662");
                $("#registerpassword").css("border", "1px solid #ef5662");
                $("#mainlabla2").addClass("error");

            }
            if (!isValidPhonenumber(val)) {

                $("#registererror").css("display", "block");
                $("#registertext").css("color", "#ef5662");
                $("#registertext").css("border", "1px solid #ef5662");
                $("#mainlabla").addClass("error");


            }

            if (isValidPhonenumber(val) && (pass.length !== 0)) {


                $("#registerForm").submit();
                @*$.ajax({
                    url: '/CustomerLogin/CustomerLogIn',
                    dataType: 'html',
                    data: {

                        pass: pass,
                        phone: val,
                        register: n

                    },
                    success: function (data) {
                        if (data === "200") {

                            toastr.options = {
                                "debug": false,
                                "positionClass": "toast-top-center",
                                "onclick": null,
                                "fadeIn": 300,
                                "fadeOut": 1000,
                                "timeOut": 8000,
                                "extendedTimeOut": 1000,


                            }
                            toastr.success('با موفقیت وارد شدید');
                            var rul = '@Url.Action("Index","Home")';
                            window.location.href = rul;
                        }
                        else if (data === "300") {
                            var url = '@Url.Action("confirm", "Home")';

                            window.location.href = url;


                            // $('#lblsubscribeSubmit').text("");
                        }

                        else {
                            toastr.options = {
                                "debug": false,
                                "positionClass": "toast-top-center",
                                "onclick": null,
                                "fadeIn": 300,
                                "fadeOut": 1000,
                                "timeOut": 8000,
                                "extendedTimeOut": 1000,


                            }
                            toastr.error('نام کاربری یا رمز عبور نادرست است');
                        }



                    },
                    error: function () {
                        $('#lblsubscribeSubmit').text("خطای سیستمی، لطفاً با اپراتور تماس بگیرید");
                    }
                });*@
            }

        });
        </script>
    </div>



@{
    if (ViewBag.message != null && ViewBag.message != "")
    {
        <script>

            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 8000,
                "extendedTimeOut": 1000,


            }
            toastr.error('@ViewBag.message');
        </script>
    }

}
