@model AdminPanel.ViewModel.BaseViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پرتال مشتریان </title>
    <link href="~/AdminPanel/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminPanel/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/AdminPanel/build/css/custom.css" rel="stylesheet">
    @*<link href="~/AdminPanel/build/css/bootstrap-rlt.css" rel="stylesheet" />*@
    <link href="~/AdminPanel/build/css/toastr.css" rel="stylesheet" />


    @Styles.Render("~/AdminPanel/Content/css")
    @Scripts.Render("~/AdminPanel/bundles/modernizr")
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="~/AdminPanel/Scripts/bootstrap.min.js"></script>
    <script src="~/AdminPanel/Scripts/toastr.js"></script>
    <script>
        $(document).ajaxStart(function () {
            $("#loading").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#loading").css("display", "none");
        });

    </script>
  
    <script>
        if ('@Session["lang"]' == 'fa') {

            $("body").get(0).style.setProperty("--align", "right");
            $("body").get(0).style.setProperty("--direction", "rtl");
            $("body").get(0).style.setProperty("--font", "IRANSans");

        }
        else {

            $("body").get(0).style.setProperty("--align", "left");
            $("body").get(0).style.setProperty("--direction", "ltr");
            $("body").get(0).style.setProperty("--font", "Myriad");


        }

    </script>

</head>

<body class="login">

    <script>
        var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
        if (true) {
            $('#iosModal').modal('show');
        }
    </script>
    <div id="loading" style="display:none">
        <div style="z-index:99999; padding:15px 35px; background-color:white;position:fixed;overflow: visible;margin: auto;top: 0;left: 0; bottom: 0; right: 0;max-height:150px; max-width:250px">

            <img style="max-width:80px; display:block; margin:auto" src="~/images/logo.png" />
            <img src="~/images/adminloading.gif" style="display:block; margin:auto; margin-top:15px" />

        </div>
    </div>
    <script>

    </script>
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1 style="">@Resources.res.adminEntryTitle</h1>
                        <div style="text-align:left">
                            <div style="display:inline-block;" class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Session["lang"].ToString().ToUpper()
                                </button>
                                <div class="dropdown-menu lanParent" aria-labelledby="dropdownMenuButton" style=" margin: 5px">
                                    <div class="row langHolder" style="margin:5px"><a style="color:white" class="dropdown-item" href="#">EN <img src="~/Images/en.png" /></a></div>
                                    <div class="row langHolder" style="margin:5px"><a style="color:white" class="dropdown-item" href="#">FA <img src="~/Images/fa.png" /></a></div>
                                    <div class="row langHolder" style="margin:5px"><a style="color:white" class="dropdown-item" href="#">DE <img src="~/Images/de.png" /></a></div>
                                </div>
                            </div>

                        </div>


                        @{
                            if (Model.username != null)
                            {
                                <div>
                                    <input value=@Model.username id="login-urser" type="text" class="form-control" placeholder="@Resources.res.userman" required="" />
                                </div>
                                <div>
                                    <input value=@Model.pass id="login-password" type="password" class="form-control" placeholder="@Resources.res.loginPass" required="" />
                                </div>
                            }
                            else
                            {
                                <div>
                                    <input id="login-urser" type="text" class="form-control" placeholder="@Resources.res.userman" required="" />
                                </div>
                                <div>
                                    <input id="login-password" type="password" class="form-control" placeholder="@Resources.res.loginPass" required="" />
                                </div>
                            }
                        }

                        <div style="margin-bottom: 120px; margin-top: -20px;">
                            <input style="float:right " type="checkbox" id="rememberme" value="">
                            <label style="float: right; margin-right: 10px;" for="rememberme"><span></span>@Resources.res.rememberme</label>
                        </div>


                        <div>
                            @*<a class="btn btn-default submit" href="index.html">وارد </a>*@
                            <a id="lgnsubmitt">@Resources.res.OK</a>
                        </div>





                        <div class="clearfix"></div>

                        <div class="separator">
                            @*<p class="change_link">
                                    New to site?
                                    <a href="#signup" class="to_register"> Create Account </a>
                                </p>*@

                            <div class="clearfix"></div>
                            <br />

                            <div>

                                <p></p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>


        </div>
    </div>
    <script>

        document.getElementById("lgnsubmitt").onclick = function () {



            var ischecked;
            if ($("#rememberme").is(":checked")) {
                ischecked = "checked";
            }
            else {
                ischecked = "unchecked";
            }

            var Phone = $("#login-urser").val();
            var Pass = $("#login-password").val();




            if (Phone != "" & Pass != "") {

                $("#loading").css("display", "block");
                $.ajax({
                    url: '/Admin/CustomerLogin',
                    dataType: 'html',
                    data: {

                        pass: Pass,
                        ischecked: ischecked,
                        phone: Phone

                    },
                    success: function (data) {


                        var srt = data.substring(0, 1);
                        var URL = data.substring(1, data.length);


                        if (srt === "1") {


                            window.location.href = "/Admin/dashboard";


                        }

                        else {
                            toastr.options = {
                                "debug": false,
                                "positionClass": "toast-top-center",
                                "onclick": null,
                                "fadeIn": 300,
                                "fadeOut": 1000,
                                "timeOut": 8000,
                                "extendedTimeOut": 1000,


                            }
                            toastr.error("نام کاربری یا رمز عبور اشتباه است")
                            //toastr.error(data)

                        }


                    },
                    error: function () {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 8000,
                            "extendedTimeOut": 1000,


                        }
                        toastr.error("خطا در سرور")

                    }
                });
            }
            else {
                toastr.options = {
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "fadeIn": 300,
                    "fadeOut": 1000,
                    "timeOut": 8000,
                    "extendedTimeOut": 1000,


                }
                toastr.error("همه فیلد ها را کامل کنید")


            }



        }
    </script>
    <script>
        $(".langHolder").click(function () {
            let id = $(this).find('a').text();
            window.location.href = "/admin/ChangeLanguage?lang=" + id;
        })
    </script>
</body>
</html>
