@model AdminPanel.ViewModel.userinfo
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Profile";
}

@{
    if (ViewBag.num != null)
    {
        if (ViewBag.num == 1) { 
            <script>
        toastr.options = {
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "fadeIn": 300,
            "fadeOut": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000
        }
        toastr.success('تغییرات با موفقیت انجام شد')
            </script>
        }
        else
        {
            <script>
                toastr.options = {
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,
                    "fadeIn": 300,
                    "fadeOut": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000
                }
                toastr.success('خطا')
            </script>
        }
    }
}
<div class="row" id="div1" style="display:block">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4 style="display: inline-block;">مشاهده محصول</h4>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">




                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            نام :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.fullname
                        </div>





                    </div>
                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            موبایل :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.mobile
                        </div>





                    </div>
                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            تلفن :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.phone
                        </div>





                    </div>
                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            درباره ما :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.aboutus
                        </div>





                    </div>
                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            آدرس :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.address
                        </div>





                    </div>
                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            instagram :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.instagram
                        </div>





                    </div>
                    <div class="form-group rowholder">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                            Telegram :
                        </label>
                        <div style="padding-top: 8px;" class="col-md-5 col-sm-5 col-xs-12">
                            @Model.telegram
                        </div>

                        










                    </div>




                    <div class="form-group">

                        <a id="editbtn" class="lgnsubmitt">ویرایش</a>
                        <script>
                            $("#editbtn").click(function () {

                                $("#div1").css("display", "none")
                                $("#div2").css("display", "block")


                            })

                        </script>

                    </div>


                    <div class="ln_solid"></div>






                </div>
            </div>


        </div>
    </div>
</div>


<div class="row" id="div2" style="display:none">


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>تعریف محصول</h2>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">





                   



                    @using (Html.BeginForm("Profile", "Admin", FormMethod.Post,
    new { enctype = "multipart/form-data", id = "infosigneupform" }))
                    {
                        <input style="display:none" value=@Model.ID type="text"   class="form-control col-md-7 col-xs-12">
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                نام :
                            </label>
                            @{
                        if (Model.fullname != "")
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @Html.TextBoxFor(m => m.fullname, new { @class = "form-control col-md-7 col-xs-12", id="funam"})
                               
                            </div>
                            
                        }
                        else
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" id="funam" name="fullname" class="form-control col-md-7 col-xs-12">
                            </div>
                        }
                            }


                            





                        </div>
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                 موبایل :
                            </label>
                            @{
                        if (Model.mobile != "")
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @Html.TextBoxFor(m => m.mobile, new { @class = "form-control col-md-7 col-xs-12", id ="mob" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input type="text" id="mob" name="mobile" class="form-control col-md-7 col-xs-12">
                            </div>
                        }
                            }
                            





                        </div>
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                تلفن :
                            </label>
                            @{
                                    if (Model.phone != "")
                                    {
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                        <input value=@Model.phone type="text" id="phone" name="phone"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    }
                                    else
                                    {
                                         <div class="col-md-5 col-sm-5 col-xs-12">
                                        <input  type="text" id="phone" name="phone"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                    }
                           }
                            





                        </div>
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                درباره ما :
                            </label>
                            @{
                        if (Model.aboutus != "")
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <textarea id="aboutus"  class="form-control" name="aboutus" style="height:170px">@Model.aboutus</textarea>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <textarea id="aboutus"  class="form-control" name="aboutus" style="height:170px"></textarea>
                            </div>
                        }
                            }
                            





                        </div>
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                آدرس :
                            </label>
                            @{
                        if (Model.address != "")
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <textarea  id="address"  class="form-control" name="address" style="height:170px">@Model.address</textarea>
                            </div>
                        }
                        else
                        {
                           <div class="col-md-5 col-sm-5 col-xs-12">
                                <textarea  id="address"  class="form-control" name="address" style="height:170px"></textarea>
                            </div>
                        }
                            }
                            





                        </div>
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                instagram :
                            </label>
                            @{
                        if (Model.instagram != "")
                        {
                             <div class="col-md-5 col-sm-5 col-xs-12">
                                <input value=@Model.instagram type="text" id="instagram" name="instagram"  class="form-control col-md-7 col-xs-12">
                            </div>
                        }
                        else
                        {
                             <div class="col-md-5 col-sm-5 col-xs-12">
                                <input  type="text" id="instagram" name="instagram"  class="form-control col-md-7 col-xs-12">
                            </div>
                        }
                            }

                           





                        </div>
                        <div class="form-group rowholder">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                                Telegram :
                            </label>
                            @{
                        if (Model.instagram != "")
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input value=@Model.telegram type="text" id="telegram" name="telegram"  class="form-control col-md-7 col-xs-12">
                            </div>
                        }
                        else
                        {
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <input  type="text" id="telegram" name="telegram"  class="form-control col-md-7 col-xs-12">
                            </div>
                        }
                            }
                            


                         
                           

                            

                        </div>
                        
                       
                    }
                    


                    <div class="form-group">

                        <a id="CRprofile" class="lgnsubmitt">تایید</a>
                        <script>
                            $("#CRprofile").click(function () {

                            var fullname = $("#funam").val();
                            var mobile = $("#mob").val();
                            var phone = $("#phone").val();
                            var aboutus = $("#aboutus").val();
                            var address = $("#address").val();
                            var insta = $("#insta").val();
                            var telegram = $("#telegram").val();





                            $("#infosigneupform").submit();

                            //else {
                            //    toastr.options = {
                            //        "debug": false,
                            //        "positionClass": "toast-top-center",
                            //        "onclick": null,
                            //        "fadeIn": 300,
                            //        "fadeOut": 1000,
                            //        "timeOut": 5000,
                            //        "extendedTimeOut": 1000
                            //    }
                            //    toastr.error('تمامی موارد را کامل کنید')
                            //}


                        })

                        </script>

                    </div>



                    <div class="ln_solid"></div>






                </div>
            </div>


        </div>
    </div>
</div>

