@model neshanak.viewModel.articlesListAdmin
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],

            toolbar: 'undo redo | formatselect | ' +
                ' bold italic backcolor | alignleft aligncenter ' +
                ' alignright alignjustify | bullist numlist outdent indent |' +
                ' removeformat | help | link image',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ]
        });

        //tinymce.activeEditor.execCommand('mceDirectionRTL');
    </script>
    <script>
        function makeid(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i <length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
    </script>

}



<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }

    .fieldholder {
        /*width: 30%;
            display: inline-block;*/
        padding: 15px;
    }

    .REM {
        border-radius: 5px;
    }
</style>


<div class="row" style="background-color:white; padding:10px; margin:0px; margin-top:65px">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1" style=" color: #8d8d8d; ">لیست موارد </a></li>
        <li><a data-toggle="tab" href="#home" style=" color: #8d8d8d; "> تولید مورد جدید</a></li>



    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade" style="padding-top:20px">
            @using (Html.BeginForm("setNewPortfolio", "Admin", FormMethod.Post,
new { enctype = "multipart/form-data", id = "setNewPortfolio" }))
            {


            <div class="row">



                <div class=" fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                    <label style="text-align: right">
                        عنوان :
                    </label>
                    <div>
                        <span class="star" style="color:red; display:none">*</span>

                        <input value="" type="text" id="title" name="title" required="required" class="form-control  REM3">
                    </div>

                </div>
                <div class=" fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                    <label style="text-align: right">
                        توضیحات :
                    </label>
                    <div>
                        <span class="star" style="color:red; display:none">*</span>

                        <input value="" type="text" id="Desc" name="Desc" required="required" class="form-control  REM3">
                    </div>

                </div>
                <div class=" fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                    <label style="text-align: right">
                        آدرس :
                    </label>
                    <div>
                        <span class="star" style="color:red; display:none">*</span>

                        <input value="" type="text" id="url" name="url" required="required" class="form-control  REM3">
                    </div>

                </div>
                <div class=" fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">

                    <label style="text-align: right">
                        عکس:
                    </label>

                    <div>
                        <span class="star" style="color:red; display:none">*</span>
                        <input type="file" id="image" name="image" required="required" class="form-control">
                    </div>


                </div>

                <div class="row fieldholder" style="margin-top:35px; width:25%;padding: 0 10px;display: inline-block;">
                    <a id="setPortfolio" class="lgnsubmitt btn btn-primary">تایید</a>
                </div>


            </div>
                <script>




                    $("#setPortfolio").click(function () {

                        $(".star").hide();
                        var int = 0;
                        $(".REM3").each(function () {

                            if ($(this).val() === "") {
                                $(this).siblings("span").css("display", "inline-block");
                                int = 1;
                            }




                        })
                        if (int === 0) {

                            $("#setNewPortfolio").submit();
                        }
                        else {
                            alert("aaaa");
                            toastr.options = {
                                "debug": false,
                                "positionClass": "toast-top-center",
                                "onclick": null,
                                "fadeIn": 300,
                                "fadeOut": 1000,
                                "timeOut": 5000,
                                "extendedTimeOut": 1000
                            }
                            toastr.error('لطفاً تمامی موارد را کامل کنید')

                        }


                    })
                </script>


            }

        </div>
        <div id="menu1" class="tab-pane fade  in active" style="padding-top:20px">
            <div>
                <div id="Listholder">
                    <div class="row" style="padding:20px">
                        <div style="overflow-x:auto;padding:10px">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="    background-image: -webkit-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -o-linear-gradient(top,#2a85ae 0,#246388 100%) !important;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a85ae),to(#246388)) !important;
    background-image: linear-gradient(to bottom,#2a85ae 0,#246388 100%) !important;color: #fff">
                                    <h3 class="panel-title"><i class="fa fa-shopping-basket fa-fw"></i>لیست سرفصل ها  </h3>
                                </div>
                                <div class="panel-body">
                                    <div id="morris-area-chart">
                                        <div style="overflow:auto">
                                            <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            ID
                                                        </th>
                                                        <th>
                                                            عنوان
                                                        </th>
                                                        <th>
                                                            توضیحات
                                                        </th>

                                                        <th>

                                                        </th>

                                                        <th>

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        if (Model.articles != null)
                                                        {
                                                            foreach (var item in Model.articles)
                                                            {

                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.ID)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.title)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.content)
                                                                    </td>
                                                                    <td style="text-align: center;">

                                                                        @{
                                                                            var ID = @item.ID;
                                                                            <a id=@ID class="btn btn-primary CPbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">ویرایش</a>

                                                                        }

                                                                    </td>
                                                                    <td style="text-align: center;">

                                                                        @{

                                                                            <a id=@ID class="btn btn-primary CDbutton" style="  margin:5px ; cursor: pointer;  padding: 5px; color: #fff; border-radius: 5px;">حذف</a>

                                                                        }

                                                                    </td>
                                                                </tr>
                                                            }

                                                        }
                                                    }


                                                </tbody>
                                            </table>
                                            <script>

                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="catDetailHolder" style="padding:0 20px ; display:none; width:100%">



                @using (Html.BeginForm("updatePortfolio", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "updatePortfolio" }))
                {

                    <div style="padding: 15px 5px; border: 1px solid #d8d8d8; border-radius: 5px;">
                        <div class="row">

                            <div class="row fieldholder col-lg-3">
                                <label style="text-align: right">
                                    عنوان :
                                </label>
                                <div>
                                    <span style="color:red; display:none">*</span>
                                    <input value="" type="text" id="Ctitleupdate" name="Ctitleupdate" required="required" class="form-control REM4">
                                </div>


                            </div>
                            <div class="row fieldholder col-lg-3">
                                <label style="text-align: right">
                                    توضیحات :
                                </label>
                                <div>
                                    <span style="color:red; display:none">*</span>
                                    <input value="" type="text" id="Cdescupdate" name="Cdescupdate" required="required" class="form-control REM4">
                                </div>


                            </div>
                            <div class="row fieldholder col-lg-3">
                                <label style="text-align: right">
                                    آدرس :
                                </label>
                                <div>
                                    <span style="color:red; display:none">*</span>
                                    <input value="" type="text" id="CAddressupdate" name="CAddressupdate" required="required" class="form-control REM4">
                                </div>


                            </div>

                            <div class="row fieldholder col-lg-3">

                                <label style="text-align: right">
                                    عکس:
                                </label>

                                <div>

                                    <input type="file" id="Cimage" name="Cimage" required="required" class="form-control ">
                                </div>


                            </div>
                            <img id="CarticleImage" style="max-height:150px" />


                            <input id="CIDupdate" name="CIDupdate" hidden />
                            <input id="Cimageupdate" name="Cimageupdate" hidden />

                        </div>
                        <div class="row">

                            <div class="row fieldholder" style="width:25%;padding: 0 10px;display: inline-block;">
                                <a id="UpdateCButt" class="lgnsubmitt btn btn-primary">تایید</a>

                            </div>
                        </div>

                    </div>

                }




            </div>
            <div class="modal fade" id="delCArticle" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <p>آیا از حذف نظر اطمینان دارید؟</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="modalDelCArticle">تایید</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
              var id = "";
                $(".CDbutton").click(function () {
                    $("#delCArticle").modal('toggle');
                    id = $(this).attr("id");
                });
                $(".CPbutton").click(function () {
                    var rowid = $(this).attr("id");
                    var articles = @Html.Raw(Json.Encode(Model.articles));
                    $("#catDetailHolder").css("display", "inline-block");

                    $.each(articles, function (index, item) {
                        if (item.ID.toString() === rowid) {



                            var imagaddress = "/images/panelimages/" + item.image;

                            $("#Ctitleupdate").val(item.title);
                            $("#Cdescupdate").val(item.content);
                            $("#CarticleImage").attr("src", imagaddress);
                            $("#CIDupdate").val(item.ID);
                            $("#CAddressupdate").val(item.link);
                            $("#Cimageupdate").val(item.imagaddress);



                        }


                    });

                });

                $("#modalDelCArticle").click(function () {




                    $.ajax({
                        url: '/Admin/DeletePortfolio',
                        dataType: 'html',
                        data: {
                            id: id,
                        },
                        success: function (data) {

                            window.location.reload();
                        },
                        error: function () {

                        }
                    });
                });

                $("#UpdateCButt").click(function () {
                    // alert("aa");

                    var int = 0;
                    $(".REM4").each(function () {

                        if ($(this).val() === "") {
                            $(this).siblings("span").css("display", "inline-block");
                            int = 1;
                        }
                    })
                    if (int === 0) {
                        $("#updatePortfolio").submit();
                    }
                    else {
                        toastr.options = {
                            "debug": false,
                            "positionClass": "toast-top-center",
                            "onclick": null,
                            "fadeIn": 300,
                            "fadeOut": 1000,
                            "timeOut": 5000,
                            "extendedTimeOut": 1000
                        }
                        toastr.error('لطفاً تمامی موارد را کامل کنید')

                    }


                });

            </script>

        </div>
      
    </div>
</div>







