@model neshanak.viewModel.slideRequst
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "مدیریت مطالب";
}
<style>
    .nav-tabs {
        padding-right: 0px;
    }

        .nav-tabs li {
            float: right !important;
        }
</style>
<link href="~/Content/css-circular-prog-bar.css" rel="stylesheet" />

@{
    List<SelectListItem> pageList = new List<SelectListItem>();
    pageList.Add(new SelectListItem
    {
        Text = "language",
        Value = "1001",
    });
    pageList.Add(new SelectListItem
    {
        Text = "section",
        Value = "1002",
    });
    pageList.Add(new SelectListItem
    {
        Text = "course",
        Value = "1003",
    });
    pageList.Add(new SelectListItem
    {
        Text = "book",
        Value = "1004",
    });
    pageList.Add(new SelectListItem
    {
        Text = "lesson",
        Value = "1005",
    });
    pageList.Add(new SelectListItem
    {
        Text = "vocab",
        Value = "1006",
    });
    pageList.Add(new SelectListItem
    {
        Text = "master",
        Value = "1007",
    });
    pageList.Add(new SelectListItem
    {
        Text = "faq",
        Value = "1008",
    });
    pageList.Add(new SelectListItem
    {
        Text = "email",
        Value = "1009",
    });
    pageList.Add(new SelectListItem
    {
        Text = "register",
        Value = "1010",
    });


    List<SelectListItem> listItems = new List<SelectListItem>();
    if (Model.filtercatsAll != null)
    {
        foreach (var item in Model.filtercatsAll)
        {
            listItems.Add(new SelectListItem
            {
                Text = item.title,
                Value = "1" + item.ID
            });
            if (item.filtersubcat != null)
            {
                foreach (var subcat in item.filtersubcat)
                {
                    listItems.Add(new SelectListItem
                    {
                        Text = "---" + subcat.title,
                        Value = "2" + subcat.ID
                    });
                    if (subcat.filtersubcat2 != null)
                    {
                        foreach (var subcat2 in subcat.filtersubcat2)
                        {
                            listItems.Add(new SelectListItem
                            {
                                Text = "------" + subcat2.title,
                                Value = "3" + subcat2.ID
                            });
                        }
                    }

                }
            }

        }
    }



    List<SelectListItem> listItems2 = new List<SelectListItem>();
    if (Model.locationAll != null)
    {
        foreach (var item in Model.locationAll)
        {
            listItems2.Add(new SelectListItem
            {
                Text = item.title,
                Value = "1" + item.ID
            });
            if (item.cityList != null)
            {
                foreach (var subcat in item.cityList)
                {
                    listItems2.Add(new SelectListItem
                    {
                        Text = "---" + subcat.title,
                        Value = "2" + subcat.ID
                    });


                }
            }

        }
    }


}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                 <p>@Resources.res.confrimAction</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.res.cancel</button>
                <button id="doAction" type="button" class="btn btn-primary">@Resources.res.OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p>@Resources.res.confrimAction</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.res.cancel</button>
                <button id="doAction2" type="button" class="btn btn-primary">@Resources.res.OK</button>
            </div>
        </div>
    </div>
</div>

<div style="background-color:white; padding:10px; margin:0px; margin-top:65px">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" style=" color: #8d8d8d; ">@Resources.res.image  </a></li>
        <li><a data-toggle="tab" href="#menu1" style=" color: #8d8d8d; ">@Resources.res.video</a></li>
    </ul>
    <div  class="tab-content">
        <div id="home" class="tab-pane fade in active" style="padding-top:20px">
            <div class="modal fade" id="delmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <p class="modalDelQuestion">@Resources.res.delbusi</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="remove">@Resources.res.OK</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.res.cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:50px; padding:50px; border:1px solid #fff;    box-shadow: 2px 2px 5px -1px rgb(148 149 153); border-radius: 5px; background-color:white; margin-top:100px">
                <div class=" component col-md-4 col-sm-3 col-xs-12" style="">
                    <label> @Resources.res.page </label>
                    <div style="width:100%">
                        @Html.DropDownList("pagename", pageList, "select item", new { id = "listofpage", @class = "form-control" })
                    </div>
                </div>
                <div class=" component col-md-4 col-sm-3 col-xs-12" style="">
                    <label> @Resources.res.category </label>
                    <div style="width:100%">
                        @Html.DropDownList("catname", listItems, "select item", new { id = "listofcat", @class = "form-control" })
                    </div>
                </div>
                <div class=" component col-md-4 col-sm-3 col-xs-12" style="">
                    <label> @Resources.res.createLocation </label>
                    <div style="width:100%">
                        @Html.DropDownList("Countryname", listItems2, "select item", new { id = "listofLocation", @class = "form-control" })
                    </div>
                </div>
                <div class="component">
                    <label> @Resources.res.image </label>
                    <input id="imageFileHolder" type="file" required="required" class="form-control INP">
                </div>
                <div style="margin:25px">
                    <div class="component ">
                        <div id="veri" class="btn btn-success">@Resources.res.OK  </div>
                    </div>
                    <div class="component ">
                        <div id="edit" class="btn btn-success">@Resources.res.edit</div>
                    </div>
                </div>
                

                <p hidden class="imageName"></p>
                <div style="width:100%">
                    <div id="imageHolder" style="display:flex; ">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade" style="padding-top:20px">
            <div class="modal fade" id="delmodal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <p class="modalDelQuestion">@Resources.res.delbusi</p>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="remove2">@Resources.res.OK</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.res.cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:50px; padding:50px; border:1px solid #fff;    box-shadow: 2px 2px 5px -1px rgb(148 149 153); border-radius: 5px; background-color:white; margin-top:100px">
                <div class=" component col-md-4 col-sm-3 col-xs-12" style="">
                    <label> @Resources.res.page </label>
                    <div style="width:100%">
                        @Html.DropDownList("pagename2", pageList, "select item", new { id = "listofpage2", @class = "form-control" })
                    </div>
                </div>
                <div class=" component col-md-3 col-sm-3 col-xs-12" style="min-width:250px">
                    <label> @Resources.res.category </label>
                    <div style="width:100%">
                        @Html.DropDownList("catname2", listItems, "select item", new { id = "listofcat2", @class = "form-control" })
                    </div>
                </div>
                <div class=" component col-md-3 col-sm-3 col-xs-12" style="min-width:250px">
                    <label> @Resources.res.createLocation </label>
                    <div style="width:100%">
                        @Html.DropDownList("Countryname2", listItems2, "select item", new { id = "listofLocation2", @class = "form-control" })
                    </div>
                </div>
                <div class="component">
                    <label> @Resources.res.image </label>
                    <input id="imageFileHolder2" type="file" required="required" class="form-control INP">
                </div>
                <div class="component ">
                    <div id="veri2" class="btn btn-success">@Resources.res.OK  </div>
                </div>
                <div class="component ">
                    <div id="edit2" class="btn btn-success">@Resources.res.edit</div>
                </div>

                <p hidden class="imageName2"></p>
                <div style="width:100%">
                    <div id="imageHolder2" style="display:flex; ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="~/Scripts/download.js"></script>

<script>

    
    $("#imageFileHolder2").on('change', function () {
        //alert("sss");
        uploadImage("imageHolder2", "imageName2", this)
    });
    $("#doAction2").click(function () {
       
       
        var catname = $("#listofcat2").val();
        var Countryname = $("#listofLocation2").val()
        var page = $("#listofpage2").val();
        if (catname == "") {
            catname = "00";
        }

        var image = $(".imageName2").text();

        if ((catname != "" || Countryname != "") || page != "") {
            $.ajax({
                url: "/admin/addSlide",
                dataType: "html",
                data: {
                    catID: catname,
                    locationID: Countryname,
                    image: image, 
                    page: page,
                    type: "0"
                },
                success: function (data) {
                    location.reload();
                }
            })
        }    })
    $("#veri2").click(function () {
        $("#exampleModal2").modal('toggle');
        
    })
    $("#edit2").click(function () {
        var catname = $("#listofcat2").val();
        var Countryname = $("#listofLocation2").val()
        var page = $("#listofpage2").val();
        if ((catname != "" || Countryname != "") || page != "") {
            $.ajax({
                url: "/admin/getSlide",
                dataType: "html",
                data: {
                    catid: catname,
                    locationID: Countryname,
                    page:page,
                    type : "0"
                },
                success: function (data) {
                  
                    var item = JSON.parse(data);
                    var srt = "";
                    if (item != null) {
                        var htmldiv = "";
                        for (var i = 0; i < item.length; i++) {

                            var obj = item[i];
                            var image = obj.image
                          
                            if (image != "undefined") {
                                srt = image + "," + srt;
                                var processID = makeid();

                                htmldiv = htmldiv + `<div  class="imageCover" style="postion:relative !important; width:150px"><div  style="position:relative"><img src="/images/` + image + `" style="width:150px"" src="#"  id="` + processID + `" /> <img  onclick= removeImage("` + processID + `***` + image + `","imageName2")   id="R` + processID + `"src="/images/trash.png" style="position:absolute; bottom:0;top:0;left:0;right:0;margin:auto" /></div><p>` + image + `</p></div> `;
                              
                            }
                           
                        }
                        $("#imageHolder2").html(htmldiv);

                        var last = $(".imageName2").text();
                        $(".imageName2").text(srt + last);
                    }
                   
                    
                }
            })
        }
    })
    $("#veri2").click(function () {
        var catname = $("#listofcat2").val();
        var page = $("#listofpage2").val();
        var image = $(".imageName2").text();

        if (catname != "" && image != "") {
            $.ajax({
                url: "/admin/addSlide",
                dataType: "html",
                data: {
                    catID: catname,
                    locationID: Countryname,
                    image: image,
                    page: page,
                    type: "0"

                },
                success: function (data) {
                    location.reload();
                }
            })
        }
    })
    $("#cancelEdit2").click(function () {
        $(".classhide2").css("display", "none");
        $(".classshow2").css("display", "inline-block");
        $("#imageHolder2").css("display", "none");
        $("#title2").val("");
    })

    
</script>


<script>

    $("#imageFileHolder").on('change', function () {
        //alert("sss");
        uploadImage("imageHolder", "imageName", this)
    });
    $("#doAction").click(function () {
        var catname = $("#listofcat").val();
        var Countryname = $("#listofLocation").val()
        var page = $("#listofpage").val();

       
        if (catname == "") {
            catname = "00";
        }

        var image = $(".imageName").text();
        if ((catname != "" && Countryname != "") || page != "" ) {
            $.ajax({
                url: "/admin/addSlide",
                dataType: "html",
                data: {
                    catID: catname,
                    locationID: Countryname,
                    image: image,
                    page: page,
                    type: "1"
                },
                success: function (data) {
                    //alert(data)
                    location.reload();
                }
            })
        }
    })
    $("#veri").click(function () {
        $("#exampleModal").modal('toggle');
       
        
    })


    $("#edit").click(function () {
        var catname = $("#listofcat").val();
        var Countryname = $("#listofLocation").val()
        var page = $("#listofpage").val();
        if ((catname != "" || Countryname != "") || page != "") {
            $.ajax({
                url: "/admin/getSlide",
                dataType: "html",
                data: {
                    catid: catname,
                    locationID: Countryname,
                    page : page,
                    type: "1"
                },
                success: function (data) {
                   
                    var item = JSON.parse(data);
                    var srt = "";
                    if (item != null) {
                        var htmldiv = "";
                        for (var i = 0; i < item.length; i++) {

                            var obj = item[i];
                            var image = obj.image

                            if (image != "undefined") {
                                srt = image + "," + srt;
                                var processID = makeid();

                                htmldiv = htmldiv + `<div  class="imageCover" style="postion:relative !important; width:150px"><div  style="position:relative"><img src="/images/` + image + `" style="width:150px"" src="#"  id="` + processID + `" /> <img  onclick= removeImage("` + processID + `***` + image + `","imageName")   id="R` + processID + `"src="/images/trash.png" style="position:absolute; bottom:0;top:0;left:0;right:0;margin:auto" /></div></div> `;

                            }

                        }
                        $("#imageHolder").html(htmldiv);

                        var last = $(".imageName").text();
                        $(".imageName").text(srt + last);
                    }


                }
            })
        }
    })

    //$("#veri").click(function () {
    //    var catname = $("#listofcat").val();
    //    var image = $(".imageName").text();
    //    var page = $("#pageList").val();
    //    if (catname != "" && image != "") {
    //        $.ajax({
    //            url: "/admin/addSlide",
    //            dataType: "html",
    //            data: {
    //                catID: catname,
    //                locationID: Countryname,
    //                image: image,
    //                page:page,
    //                type: "1"

    //            },
    //            success: function (data) {
    //                location.reload();
    //            }
    //        })
    //    }
    //})
    $("#cancelEdit").click(function () {
        $(".classhide").css("display", "none");
        $(".classshow").css("display", "inline-block");
        $("#imageHolder").css("display", "none");
        $("#title").val("");
    })

</script>






