@model neshanak.viewModel.confrimVM

@{
    <title>تایید </title>
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $("#languagetOption").change(function () {
            let id = $(this).val()
            if (id != '') {

                window.location.href = "/Home/ChangeLanguage?lang=" + id + "&actionstring=confirm";

            }
        });
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script>
        function addMinutes(date, minutes) {
            return new Date(date.getTime() + minutes * 60000);
        }
        var deadline = addMinutes(new Date(), 1);
        var x = setInterval(function () {
            var now = new Date().getTime();
            //  var deadline = addMinutes(now, 2);
            var t = deadline - now;
            var days = Math.floor(t / (1000 * 60 * 60 * 24));
            var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((t % (1000 * 60)) / 1000);
            document.getElementById("demo").innerHTML = seconds + "s ";
            if (t < 0) {
                clearInterval(x);
                $("#demoHolder").css("visibility", "hidden");
                $("#resendButt").css("pointer-events", "inherit");

            }
        }, 1000);
    </script>
    <script>
                                          $("#resendButt").click(function () {
                                              $("#resendButt").css(" pointer-events", "none");
                                              $("#demoHolder").css("visibility", "inherit");

                                              function addMinutes(date, minutes) {
                                                  return new Date(date.getTime() + minutes * 60000);
                                              }
                                              var deadline = addMinutes(new Date(), 1);
                                              var x = setInterval(function () {
                                                  var now = new Date().getTime();
                                                  //  var deadline = addMinutes(now, 2);
                                                  var t = deadline - now;
                                                  var days = Math.floor(t / (1000 * 60 * 60 * 24));
                                                  var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                  var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                                                  var seconds = Math.floor((t % (1000 * 60)) / 1000);
                                                  document.getElementById("demo").innerHTML =  seconds + "s ";

                                                  if (t <0) {
                                                      clearInterval(x);
                                                      $("#demoHolder").css("visibility", "hidden");
                                                      $("#resendButt").css(" pointer-events", "inherit");
                                                  }
                                              }, 1000);
                                              $.ajax({
                                                  url: '/CustomerLogin/ResendCode',
                                                  dataType: 'html',
                                                  data: {
                                                      phone: "@Model.id",
                                                  },
                                                  success: function (data) {




                                                      if (data === "300") {
                                                          toastr.options = {
                                                              "debug": false,
                                                              "positionClass": "toast-top-center",
                                                              "onclick": null,
                                                              "fadeIn": 300,
                                                              "fadeOut": 1000,
                                                              "timeOut": 8000,
                                                              "extendedTimeOut": 1000,


                                                          }
                                                          toastr.error('خطا مجددا تلاش کنید!')
                                                          $("#verificationcode").val("");

                                                          // $('#lblsubscribeSubmit').text("");
                                                      }
                                                      if (data === "200") {

                                                          toastr.options = {
                                                              "debug": false,
                                                              "positionClass": "toast-top-center",
                                                              "onclick": null,
                                                              "fadeIn": 300,
                                                              "fadeOut": 1000,
                                                              "timeOut": 8000,
                                                              "extendedTimeOut": 1000,


                                                          }
                                                          toastr.success('ارسال مجدد پیام با موفقیت انجام شد')
                                                          //window.location.href = URL;
                                                      }




                                                  },
                                                  error: function () {
                                                      $('#lblsubscribeSubmit').text("خطای سیستمی، لطفاً با اپراتور تماس بگیرید");
                                                  }
                                              });
                                          })
    </script>
    <script>
        $("#verifyCode").click(function () {
           
                                            $('#lblsubscribeSubmit').text("");


                                            var verificationcode = $("#verificationcode").val();
                                            if ("@Model.pass" === "") {
                                                $.ajax({
                                                    url: '/CustomerLogin/checkConfirmCode',
                                                    dataType: 'html',
                                                    data: {

                                                        phone: "@Model.id",
                                                        register: verificationcode
                                                    },
                                                    success: function (data) {
                                                      
                                                        if (data === "300") {
                                                            //toastr.options = {
                                                            //    "debug": false,
                                                            //    "positionClass": "toast-top-center",
                                                            //    "onclick": null,
                                                            //    "fadeIn": 300,
                                                            //    "fadeOut": 1000,
                                                            //    "timeOut": 8000,
                                                            //    "extendedTimeOut": 1000,


                                                            //}
                                                            //toastr.error('کد تایید صحیح نیست!')
                                                            alert("")
                                                            $("#verificationcode").val("");

                                                            // $('#lblsubscribeSubmit').text("");
                                                        }
                                                        if (data === "200") {
                                                           
                                                            var url = '@Url.Action("ChangePass", "Home")';
                                                            window.location.href = url;
                                                        }




                                                    },
                                                    error: function () {
                                                        $('#lblsubscribeSubmit').text("خطای سیستمی، لطفاً با اپراتور تماس بگیرید");
                                                    }
                                                });
                                            }
                                            else {
                                                $.ajax({
                                                    url: '/CustomerLogin/CustomerRegister',
                                                    dataType: 'html',
                                                    data: {

                                                        pass: "@Model.pass",
                                                        phone: "@Model.id",
                                                        val: verificationcode,
                                                        email:''
                                                    },
                                                    success: function (data) {

                                                        var srt = data.substring(0, data.indexOf("*"));;
                                                        var URL = data.substring(data.indexOf("*") + 1)


                                                        if (srt === "300") {
                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 8000,
                                                                "extendedTimeOut": 1000,


                                                            }
                                                            toastr.error('کد تایید صحیح نیست!')
                                                            $("#verificationcode").val("");

                                                            // $('#lblsubscribeSubmit').text("");
                                                        }
                                                        if (srt === "200") {

                                                            toastr.options = {
                                                                "debug": false,
                                                                "positionClass": "toast-top-center",
                                                                "onclick": null,
                                                                "fadeIn": 300,
                                                                "fadeOut": 1000,
                                                                "timeOut": 8000,
                                                                "extendedTimeOut": 1000,


                                                            }
                                                            toastr.success('با موفقیت وارد شدید')

                                                            window.location.href = "/Home/Index";
                                                        }




                                                    },
                                                    error: function () {
                                                        $('#lblsubscribeSubmit').text("خطای سیستمی، لطفاً با اپراتور تماس بگیرید");
                                                    }
                                                });
                                            }

                                        })


    </script>
}




<div>
    <main id="loginMain" style="">

        <div class="c-account-box__content" style="padding:10px; width:60%; margin: 0 auto">
            @using (Html.BeginForm("CustomerLoginWC", "CustomerLogIn", FormMethod.Post,
new { @class = "c-form-account", enctype = "multipart/form-data", id = "registerForm" }))
            {


                @Html.AntiForgeryToken()
                <input type="hidden" name="rc" value="UURCRFdLdE1hN3FwMlAzRDdCZEJUUT09"><input type="hidden" name="rd" value="MURYd3dWZ3VEWDM0RmE4L1lSWFh2elpVUlFPNWNXWHJNZ3JxNjI0MHduQTUxL0NzcU5nbmwxaGRMKzVPRzNqMjd0M2Vta01wL1k4aENHRDRSWndiNkE9PQ~~">

                <div class="rowholder">
                    <label class="mainlabla">
                        <input id="verificationcode" class="c-ui-input__field" type="text" placeholder="@Resources.res.verifyCode " maxlength="5" name="confirm[code]">
                    </label>
                </div>

                <div id="verifyCode" class="rowholder">
                    <div class="mainlabla">
                        <p style="float:left; cursor:pointer" class="">@Resources.res.OK</p>
                    </div>
                </div>
                <div class="rowholder">
                    <div class="mainlabla">
                        <div class="buttonholder">
                            <a href="/Home/Login" class="btn-link-spoiler">@Resources.res.changeEmail</a>&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; <a>@Resources.res.register</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;  <a style="margin-bottom:20px" id="resendButt" class="btn-link-spoiler js-send-confirm-code">  @Resources.res.resendCode </a>
                                                                                                                                                                                                                     <span id="demoHolder" >(<span id="demo" class="js-phone-code-counter" data-countdownseconds="180"></span>) </span> 

                        </div>
                    </div>
                </div>




            }
        </div>
    </main>
</div>





