@model neshanak.viewModel.IndexVM
@{
    ViewBag.Title = "GetSubCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{


    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />

    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/jquery.migrate.js"></script>
    <script src="~/Scripts/slick.js"></script>

    <script>
        $(document).ready(function () {
            $('.your-class').slick({
                dots: false,
                infinite: true,
                autoplay: true,
                speed: 500,
                cssEase: 'linear'
            });
        });
    </script>

    <script>
        $(".subcat").click(function () {

            var subcat = $(this).attr('id');

            var url = "/Home/GetSubCat?result=" + subcat;

            window.location.href = url
        })
        $(".final").click(function () {

            var subcat = $(this).attr('id');

            $.ajax({
                url: "/Home/setValues",
                dataType: "html",
                data: {
                    result: subcat,
                    mallID: "0"
                },
                success: function () {
                    var url = "/Home/searchResult";
                    window.location.href = url;
                }
            })




        })
    </script>


    @*<script src="~/Scripts/popper.js"></script>
        <link href="~/Content/SLDstyle.css" rel="stylesheet" />
        <script src="~/Scripts/SLDscript.js"></script>
        <script>
            window.player = new window.YT.Player(video, {
                videoId: videoId,
                playerVars: {
                    autoplay: 1,
                    modestbranding: 1,
                    rel: 0
                    // more parameters here
                }
            });
        </script>*@


    <link href="~/Content/slider.css" rel="stylesheet" />
    <script src="~/Scripts/sliderscript.js"></script>
    <script>
            $('.bo-slider').boSlider({
                slideShow: true,
                interval: 8000
            });
    </script>

}





@if (Model.sld != null)
{
    <ul class="bo-slider">
        @foreach (var slid in Model.sld)
        {
            if (slid.type == "1")
            {
                <li data-url="@slid.image" data-type="image"></li>
            }
            else
            {
                string videopath = "/video/" + @Path.GetFileNameWithoutExtension(slid.image) + ".mp4";
                <li data-url="@videopath" data-type="video"></li>
            }
        }


    </ul>

}
@*@if (Model.sld != null)
    {
        <div class="row" style="background-color:black">
            <div id="slideHolder" style=" width:100%; height:auto; margin:auto;display:block">
                <div class="your-class">
                    @foreach (var slid in Model.sld)
                    {
                        <div class="imageholder">
                            <img src="@slid.image" />
                        </div>
                    }




                </div>
            </div>
        </div>
    }*@



<!-- #endregion Jssor Slider End -->
<div style="" class="subcatHolder" data-slide="1" data-speed="500">
    <div>
        @foreach (var item in Model.cat)
        {
            if (item.IsFinal == 1)
            {
                <div class="final catitem" id="@item.id-@item.catLevel">
                    <div>
                        <div class="itemimageHolder">
                            <img style="cursor:pointer; max-width:100%; max-height:100%;object-fit:scale-down" class="subcatimage" src="@item.img" />
                        </div>

                        <p>@item.title</p>
                    </div>

                </div>

            }
            else
            {
                <div class="subcat catitem" id="@item.id-@item.catLevel">
                    <div>
                        <div class="itemimageHolder">
                            <img style="max-width:100%; max-height:100%; object-fit:scale-down" class="subcatimage" src="@item.img" />
                        </div>

                        <p>@item.title</p>
                    </div>
                </div>


            }
        }

    </div>
    @*<img class="bannerItem" src="http://supectco.com/app/portal/uploads/@Model.bnr.First().img" />*@
</div>
