@model neshanak.viewModel.IndexVM
@{
    ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.action = "index";
}


@section styles{

    @*<link href="~/Content/root.css" rel="stylesheet" />*@


    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />

    <link href="~/Content/video.css" rel="stylesheet" />
}
@section scripts{


    <script src="~/Scripts/jquery.migrate.js"></script>

    <script type="text/javascript" src="~/Scripts/slick.js"></script>


    <script>
        $(document).ready(function () {

            $('.randomList').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true
            });
            $('.your-class').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                dots: true
            });
            $('.countrylist').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                dots: false
            })
        });
        $(".slidItemHolder").click(function () {
            var id = $(this).attr('id');
            window.location.href = "/Home/itemDetail?id=" + id;
        })

    </script>
    <script>
        $(".ITEMCAT").click(function () {

            var catid = $(this).attr('id');
            window.location.href = "/Home/GetSubCat?result=" + catid + "-1";

        });
        $(".blogList").click(function () {
            window.location.href = "/Home/mag";
        });
        $("#changeCountry").click(function () {
            var id = $("#citydropdownholder2 select").val();
            if (id != "") {
                $.ajax({
                    url: "/Home/setCity",
                    dataType: "html",
                    data: {
                        id : id
                    },
                    success: function () {
                        window.location.href = "/Home/index";
                    }
                })
            }
        })
        $(".countryItem").click(function () {
            var id = $(this).attr('id');
            $.ajax({
                url: "/home/getcityPartial",
                dataType: "html",
                data: {
                    result: id
                },
                success: function (data) {
                    $("#mymodal").modal('toggle');
                    $("#citydropdownholder2").html(data);
                }
            })
        })
        $("#countryDropDown").change(function () {
            var id = $(this).val();
            $.ajax({
                url: "/home/getcityPartial",
                dataType: "html",
                data: {
                    result : id
                },
                success: function (data) {
                    
                    $("#citydropdownholder").html(data);
                }
            })
        })
        $(".moreblog").click(function(){
            var id = $(this).attr('id');
            window.location.href = "/Home/magDetail?id=" + id;
        })
        $("#morecat").click(function () {
            window.location.href = "/Home/GetSubCat?result=0-0"
        })
    </script>


}

<style>
</style>

<div id="mymodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               
            </div>
            <div class="modal-body">
              
                <div class="" id="citydropdownholder2">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button id="changeCountry" type="button" class="btn btn-success">@Resources.res.OK</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@Resources.res.cancel</button>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
    <div class="container h-100" style="height:100%">
        <div class="d-flex h-100 text-center align-items-center" style="height:100%;display: flex;align-items: center;justify-content:center">
            <div class="w-100 text-white">
                <h1 style=" color:white">@Resources.res.headertext1</h1>
                <h2 style=" color:white">@Resources.res.headertext2</h2>
                <div class="formsection">
                    <div class="dropdownholder">
                        <input style="width:100%" class="form-control" placeholder="@Resources.res.headerFormInput1" />

                    </div>
                    <div class="dropdownholder">
                        @Html.DropDownList("countryDropDown", new SelectList(Model.lands, "ID", "title"), @Resources.res.headerFormInput3, new { @class = "form-control", id = "countryDropDown", style = "width:100%" })
                    </div>
                 
                    <div class="dropdownholder" id="citydropdownholder">
                        @Html.DropDownList("SelectedItem", new SelectList(Model.lands, "ID", "title"), @Resources.res.headerFormInput4, new { @class = "form-control", id = "cityDropDown", style="width:100%" })

                    </div>
                   
                    <div class="searchButton">@Resources.res.headerFormInput2</div>
                </div>
                <div class="menuSection">
                    @foreach (var item in Model.cat)
                    {

                        string ID = item.id.ToString();
                        int index = Model.cat.IndexOf(item);
                        string imageName = "lawyers_icon.png"; // Path.GetFileNameWithoutExtension(item.img) + "_icon.png";
                        if (index < 6)
                        {
                            string imagurl = item.img != "" ? item.img.Replace("jpg","png") : "";
                            <div class="item  ITEMCAT" id=@ID style=" ">
                                <span><img style="" src=@imagurl /></span>
                                <span style="font-weight:600">@item.title</span>
                            </div>
                        }



                    }

                    <div id="morecat" class="item  ITEMCAT" style=" ">
                        <span><img style="" src="http://supectco.com/neshanak/portal/uploads/lawyers_icon.png" /></span>
                        <span style="font-weight:600">@Resources.res.more</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>




<div class="countrylist">
    @foreach (var item in Model.lands)
    {
    <div id="@item.ID" class="countryItem">
        <p>
            <span> @item.title</span> <span><img style="width:30px" src="@item.flag" /></span>
        </p>
       

    </div>
    }
</div>
<div class="viewProduct">
    <div class="line"></div>
    <h3 class="viewProductText"> @Resources.res.popularText1</h3>
    <h6 class="viewProductText"> @Resources.res.popularText2</h6>
    <div class="slidHolder">

        @{
            if (Model.rec != null)
            {
                <div class="your-class">


                    @foreach (var item in Model.rec)
                    {
                    <div id="@item.id" class="slidItemHolder" style="padding:10px">
                        <div class="imageholder;" style="width:100%; height:150px;object-fit:cover">
                            <img style="width:100%;height:100% " src="@item.img.Split(',')[0]" />

                        </div>
                        <p class="title">@item.title</p>
                        <p>@item.desc</p>
                    </div>
                    }


                </div>

            }
            else
            {
                <div class="notitemclass" style="">@Resources.res.noItemFound</div>
            }

        }


    </div>


</div>
<div class="mapsection">
    <h3> @Resources.res.maptext1 </h3>
    <h6 style="background: inherit;"> @Resources.res.maptext2</h6>
    <img src="/Images/map.jpg">
    <div class="textSection">
        <div>
            <p class="hd">Save Time</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lectus finibus, sagittis lorem vitae, pulvinar metus. Etiam placerat orci mauris, nec aliquet augue vulputate vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed iaculis, risus eget volutpat vestibulum, ligula quam maximus diam, fringilla aliquet leo est ut lorem. Donec sit amet feugiat neque. Phasellus quis felis in magna elementum dapibus at nec dui. Nulla ut velit eu neque pulvinar pulvinar quis in orci. Vestibulum nisi neque,</p>
        </div>
        <div>
            <p class="hd">Win Over The Team</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lectus finibus, sagittis lorem vitae, pulvinar metus. Etiam placerat orci mauris, nec aliquet augue vulputate vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed iaculis, risus eget volutpat vestibulum, ligula quam maximus diam, fringilla aliquet leo est ut lorem. Donec sit amet feugiat neque. Phasellus quis felis in magna elementum dapibus at nec dui. Nulla ut velit eu neque pulvinar pulvinar quis in orci. Vestibulum nisi neque,</p>
        </div>
        <div>
            <p class="hd">Design Features</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lectus finibus, sagittis lorem vitae, pulvinar metus. Etiam placerat orci mauris, nec aliquet augue vulputate vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed iaculis, risus eget volutpat vestibulum, ligula quam maximus diam, fringilla aliquet leo est ut lorem. Donec sit amet feugiat neque. Phasellus quis felis in magna elementum dapibus at nec dui. Nulla ut velit eu neque pulvinar pulvinar quis in orci. Vestibulum nisi neque,</p>
        </div>
    </div>
</div>
<div class="viewProduct">
    <div class="line"></div>
    <h3 class="viewProductText"> @Resources.res.recenttext1</h3>
    <h6 class="viewProductText">
        @Resources.res.recenttext2
    </h6>
    <div class="slidHolder">
        @{
            if (Model.rec != null)
            {
                <div class="your-class">

                    @{
                        foreach (var item in Model.rec)
                        {
                            <div id="@item.id" class="slidItemHolder" style="padding:10px">
                                <div class="imageholder;" style="width:100%; height:150px;object-fit:cover">
                                    <img style="width:100%;height:100% " src="@item.img.Split(',')[0]" />

                                </div>
                                <p class="title">@item.title</p>
                                <p>@item.desc</p>
                            </div>
                        }
                    }

                </div>
            }
            else
            {
                <div class="notitemclass">@Resources.res.noItemFound</div>
            }
        }


    </div>


</div>
<div class="bannerHolder1">
    <div>
        <img src="~/Images/banner1.jpg" />
    </div>
    <div>
        <img src="~/Images/banner2.jpg" />
    </div>
    <div>
        <img src="~/Images/banner3.jpg" />
    </div>
    <div>
        <img src="~/Images/banner4.jpg" />
    </div>
</div>
<div class="viewProduct">
    <div class="line"></div>
    <h3 class="viewProductText"> @Resources.res.randomtext1</h3>
    <h6 class="viewProductText">
        @Resources.res.randomtext2
    </h6>
    <div class="slidHolder">
        @{
            if (Model.rec != null)
            {
                <div class="randomList">

                    @{
                        foreach (var item in Model.rec)
                        {

                            <div id="@item.id" class="slidItemHolder" style="padding:10px">
                                <div class="imageholder;" style="width:100%; height:150px;object-fit:cover">
                                    <img style="width:100%;height:100% " src="@item.img.Split(',')[0]" />

                                </div>
                                <p class="title">@item.title</p>
                                <p>@item.desc</p>
                            </div>
                        }
                    }

                </div>
            }
            else
            {
                <div class="notitemclass">@Resources.res.noItemFound</div>
            }
        }


    </div>


</div>
<div class="bannerHolder2">
    <div>
        <img src="~/Images/banner5.jpg" />
    </div>
    <div>
        <img src="~/Images/banner6.jpg" />
    </div>

</div>
<div class="blogHolder viewProduct">
    <div class="line"></div>
    <h3 class="viewProductText blogList"> @Resources.res.blogtext1</h3>
    <h6 class="viewProductText">
        @Resources.res.blogtext1
    </h6>
    <div class="slidHolder">

        <div class="your-class">

            @{
                if (Model.blog != null)
                {
                    foreach (var item in Model.blog)
                    {
                        <div style="padding:5px">
                            <div class="slidBlogHolder">
                                <div class="imgParent" style="width:100%; object-fit:cover">
                                    <img style="width:100%; height:100%" src="@item.image" />
                                </div>

                                <div class="titlecontnet">@item.title</div>
                                <div class="blogcontnet">@item.content</div>

                                <div id="@item.ID" class="moreblog">@Resources.res.more</div>
                            </div>
                        </div>

                    }
                }

            }

        </div>

    </div>


</div>
<div class="bannerHolder1">
    
    <div>
        <a href="@Model.banners[8].catIDOrLink"><img src="@Model.banners[8].image" /></a> 
    </div>
    <div>
        <a href="@Model.banners[9].catIDOrLink"><img src="@Model.banners[9].image" /></a>
    </div>
    <div>
        <a href="@Model.banners[10].catIDOrLink"><img src="@Model.banners[10].image" /></a>
    </div>
    <div>
        <a href="@Model.banners[11].catIDOrLink"><img src="@Model.banners[11].image" /></a>
    </div>
</div>
<div class="footerSection">
    <div class="aboutUs">

        <div class="footerIcon" style=""> <img src="~/Images/logo.png" /><i class="fa fa-twitter"><span>twitter</span></i><i class="fa fa-facebook"><span>facebook</span></i><i class="fa fa-wifi"><span>RSS</span></i><i class="fa fa-envelope"><span>Main</span></i></div>
        <p style="color:white; line-height:2; font-size:14px">
            <br />
            @Resources.res.footeraboutus
        </p>
        <div class="footerIcon"><i class="link">about us</i> <i class="link"> contact us</i> <i class="link"> privacy</i></div>


    </div>
    <div class="Tag">
        <p style="color:white">@Resources.res.footertag</p>
        <div>
            <span>tag1</span><span>tag2tag2tag2</span><span>tag3tag3</span><span>tag4</span><span>tag5</span><span>tag6tag6tag6tag6tag6</span>
        </div>
    </div>
</div>